---
# 📁 Hyun's Code collection (Pymongo) 
---

### <h3 align="right">🥇 Authored by <strong>Hyun</strong></h3>

# ✏️ What is **Pymongo**?

- Mongo DB와 연동해서 데이터를 읽고 저장하는 쿼리 실행을 도와주는 라이브러리

# ✏️ Import Libraries

In [ ]:
import pymongo
from pymongo import MongoClient

# ✏️ Methods and Examples

## 🔎 Connect to MongoDB

In [ ]:
# 접속 정보를 변수로 만들어 준다.aa
# connection 
client = MongoClient("mongodb://localhost:27017")

## 🔎 DB created and connect

In [ ]:
# 기존 생성된 DB가 있다면 연결이되고, 없다면 새로 생성해줌
db = client['team_k']
print(db)

In [ ]:
## collection 생성
team = db['dtream_team']
team

In [ ]:
## 데이터 갯수 확인
team.estimated_document_count()

## 🔎 Insert Data

In [ ]:
## 1. 하나씩 넣기 insert_one
## 2. 여러개 넣기 insert_many

# 1. 하나씩 넣기 
# query 만들기
insertData = {
    "team_name" : "Jamong United",
    "team_rank" : 1,
    "team_squad" : ["Luckey Jamong", "Tom Watermelon", "Zack Mango"]
}
# insert_one
team.insert_one(insertData)

# 쿼리를 바로 삽입해도 됨
team.insert_one({
    "team_name" : "Wooju United",
    "team_rank" : 4,
    "team_squad" : ["Wooju Kim", "Youngju Yoon", "Yonsei Eagle"]
})

# 2. 여러개 동시에 넣기
# query 데이터 생성
team_data = list()
team_data.append({
    "team_name" : "Apple FC",
    "team_rank" : 2,
    "team_squad" : ["Jimmy Apple", "Gary Pineapple", "David Kiwi"]
})
team_data.append({
    "team_name" : "Grape United",
    "team_rank" : 3,
    "team_squad" : ["John Grape", "Larry Pair", "Evan Peach"]
})
team_data.append({
    "team_name" : "Mongo United",
    "team_rank" : 2,
    "team_squad" : ["Intsert Grape", "Update Pair", "Delete Peach"]
})

# insert_many
team.insert_many(team_data)

## 🔎 Find Data by condition

In [ ]:
## 모두 확인 => find(), 하나만 확인 => find_one() 

# 하나의 데이터만 확인 => 첫번째 데이터 보여줌*
team.find_one()

from pprint import pprint

# 모든 데이터 확인
result = team.find()

for row in result:
    print(row)
    
pprint(row)

In [ ]:
# fine_one(조건) 사용시 하나만 출력
# find(조건) 사용시 조건을 만족하는 데이터 모두를 보여줌

# 조건 1: Wooju United를 찾아줘 
team.find_one({"team_name": "Wooju United"})

# 조건 2: team_rank가 2위인 팀
result = team.find({"team_rank":2})

for row in result:
    print(row)
    
# 조건 3: team_rank가 2위 보다 높은 팀 보기 $lt
result = team.find({"team_rank" : {"$lt" : 2}})
for row in result:
    print(row)
    
# 조건 4: team_rank가 2위 이상 팀 보기 $lte
result = team.find({"team_rank" : {"$lte" : 2}})
for row in result:
    print(row)
    
# 조건 5: team_rank가 2위 보다 낮은 팀 보기 $gt
result = team.find({"team_rank" : {"$gt" : 2}})
for row in result:
    print(row)
    
# 조건 4: team_rank가 2위 보다 낮은 팀 보기 $gte
result = team.find({"team_rank" : {"$gte" : 2}})
for row in result:
    print(row)
    
# 조건 5: team_rank가 2위, Mongo 팀 보기  $and
team.find_one({"team_rank": 2, "team_name": "Mongo United"})

# 조건 6: team_rank가 1위와 4위 보기 $or
result = team.find({"$or": [{"team_rank": 1}, {"team_rank": 4}]})
for row in result:
    print(row)
    
result = team.find()

for row in result:
    print(row)

## 🔎 Update Data

In [ ]:
## 1. 하나씩 수정 update_one
## 2. 여러개 수정 update_many

# 1. 하나씩 수정 update_one
# 수정 내용 : Wooju United를 1위로 변경 
team.update_one({"team_name": "Wooju United"}, {"$set":{"team_rank": 1}})

# 4위에서 1위로 변경됨
team.find_one({"team_name": "Wooju United"})

# 2. 여러개 수정 update_many
# 조건 순위가 2위인 팀들을 3위로 변경
team.update_many({"team_rank":2},{"$set": {"team_rank": 3}})

result = team.find({"team_rank":3})

for row in result:
    print(row)
    
result = team.find()

for row in result:
    print(row)

## 🔎 Delete Data

In [ ]:
## 1. 하나씩 삭제 delete_one
## 2. 여러개 삭제 delete_many

# 1. 하나씩 삭제 delete_one
# 조건: mongo United를 삭제
team.delete_one({"team_name": "Mongo United"})

team.find_one({"team_name": "Mongo United"})

# 2. 여러개 삭제 delete_many
# 조건 : 팀 순위 3위인 팀 모두 삭제
team.delete_many({"team_rank": 3})