---
# 📁 Hyun's Code collection (Python Basic Syntax) 
---

### <h3 align="right">🥇 Authored by <strong>Hyun</strong></h3>

# ✏️  What is **Python Basic Syntax**?

- 다른 많은 Python 라이브러리들을 이용하기 전 필요한 Python 기본 문법들, 내장메소드들을 모아봤다.

# ✏️  Methods and Examples

## 🔎 Basic Data Structures

<h2>🎈 Int </h2>

- 숫자 중 정수

<h2>🎈 Float </h2>

- 숫자 중 소수

<h2>🎈 String </h2>

- 문자열  

<h2>🎈 List </h2>

- []에 String, Float, Int, Dataframe 등 다양한 데이터들이 element로 들어가있음
- 다른 프로그래밍 언어에서 Array를 지칭
> List comprehension
  - 코드를 한 줄에 간단하게 적는 방법
  - 밑에 예시들 참조

<h2>🎈 Tuple </h2>

- 여러 개의 자료를 하나의 변수로 관리할 때 사용합니다.
- ( )로 둘러 쌓여있고 그 값을 바꿀 수가 없다.
- 1개의 요소만 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 함
- 괄호를 사용하지 않아도 컴마(,)로 값을 나열하면 파이썬은 튜플로 인식한다. (예시)

<h2>🎈 Dictionary </h2>

- 데이터를 Key, Value의 쌍으로 입력

<h2>🎈 Set </h2>

- 키워드를 통해서 만들 수 있다. 중복을 허용하지 않고 순서도 없음

## 🔎 Basic Syntax

- **type ( )**: 자료형을 반환
- **dir ( )**: 클래스 내의 메소드를 보여준다.
- **len()**: 길이를 반환
- **a in x**: x에 a값이 있는지 boolean 형태로 반환
- **list ( )**: list로 변환
- **tuple ( )**: tuple로 변환
- **set ( )**: 집합으로 변환
- **str ( )**: 문자열 형태 바꿔줌
- **input()**: 입력값들을 모두 문자열 취급
- **print ( a, dtype )**: a의 자료형 알아내기
- **end = ' '**: 한 줄에 결과값을 출력할 때, 출력하고 마지막에 무엇을 쓰고 끝낼지 정할 수 있음
- **open ( 파일 이름, 모드 )**: 파일을 열 때 사용
  - r: 읽기 모드
  - w: 쓰기 모드
  - a: 새로운 내용 추가
  - encoding: 한글 읽고 싶을 때는 'utf-8'로 해주면 됨.
- **.map ( fx , iterable )**: map 함수, 함수와 반복 가능한 자료형을 입력으로 받아 입력받은 자료형의 각 요소를 함수 fx가 수행한 결과를 반환
- **all ( )**: 자료형 x가 모두 참이면 True, 하나라도 거짓이면 False
- **any ( )**: 자료형 x 중 하나라도 참이면  True, 모두 거짓이면 False
- **chr ( )**: 아스키 코드 값을 입력받아 해당 문자를 출력
- **ord ( )**: 아스키 코드 값을 돌려주는 함수 (chr과 반대 함수)
- **abs ( )**: 절대값을 반환
- **divmod ( a , b )**: 2개의 숫자를 입력 후 a를 b로 나눈 몫, 나머지를 반환
- **enumerate**: 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 돌려줌
- **eval**: 실행가능한 문자열을 입력으로 받아 문자열을 실행한 값을 반환
- **filter ( fx, iterable )**: 어떤 함수의 조건에 일치하는 값만 반환
- **hex**: 정수 값을 입력 받아서 16진수로 반환
- **id**: 고유 주소 값을 반환
- **int ( )**: 정수 형태로 바꿔줌
- **isinstance ( object , class )**: 인스턴스가 해당 클래스인지 판단하여 참이면 True
- **pow ( x , y ):**: x의 y 제곱한 결과값을 반환
- **range ( start , stop , step )**: 해당 값을 반복 가능한 객체로 반환
- **round ( num )**: num을 반올림해줌
- **zip ( )**: 동일한 개수로 이루어진 자료형을 묶어줌
- **oct( )**: 정수 형태의 숫자를 8진수 문자열로 바꾸어 반환
- **time.time()** : 그 시점의 시간을 저장
- **%timeit**: 걸린 시간을 반환. 앞에 써주면 됨
- **.size()**: 개수
- **.sum()**: 합
- **.mean()**: 평균
- **.median()**: 중앙값
- **.std()**: 표준편차
- **.max()**: 최대값
- **.min()**: 최소값
- **calendar .calendar ( Y , M )**: 해당 연, 월의 달력을 볼 수 있다.
- **calendar .weekday ( YY , MM , DD )**: 해당 날짜의 요일 정보를 볼 수 있다.
- **random . random ( )**: 0~1 실수 중에서 난수 값을 반환
- **random . randint ( , )**: 범위 내 실수 중에서 난수 값을 반환
- **random . shuffle ( )**: 리스트 항목을 무작위로 섞음
- **str .extract**: 정규식을 만족하는 것을 추출
- **class 새_클래스_이름(상속할_기존_클래스)**: class inheritance, 클래스 상속
- **.sample ( frac = ,  random_sate = )**: sample 뽑기
- **.quantile( x )**: 상위 (100-x)%를 뽑아준다.
- **assert 조건, '에러 메세지'** : 조건에 맞지 않으면 error를 내줘!라는 뜻

## 🔎 Basic Syntax for String

- **.count ( )**: string에서 해당 문자가 얼마나 있는지 세줌
- **.capitalize ( )**: 첫번째 문자만 대문자로 변환
- **.count ( a )**: a값의 개수를 반환
- **.find ( )**: 문자열이 처음 나오는 위치를 반환
- **.index ( )**: 특정 값의 인덱스를 반환, 해당 값이 여러 개 있다면 첫번째 값의 인덱스를 반환
- **sorted ( )**: 가로 안 값들을 정렬해줌
- **.items ( )**: 딕셔너리의 Key, Value 쌍 얻기
- **.stratswith ( )**: 시작하는 거 찾을 때
- **.endswith ( )**: 끝나는 거 찾을 때
- **" " .join ( )**: 문자 사이에 문자열을 삽입  
df_final.loc[df_final['Name'].str.contains('Miss\.', na=False), 'Name' ] = 2
- **.upper ( )**: 문자열을 대문자로 바꾸기
- **.lower ( )**: 문자열을 소문자로 바꾸기
- **.lstrip ( )**: 왼쪽 공백 지우기
- **.rstrip ( )**: 오른쪽 공백 지우기
- **.strip ( )**: 양쪽 공백 지우기
- **.replace ( "기존 문구" , "원하는 문구", 바꿀 횟수 )**: 문자열 바꾸기
- **.split ( " str ", 횟수 )**: 주어진 값을 기준으로 문자열을 나눈다. 횟수를 지정해주면 그만큼만 split함
- **.rsplit ( ' 문자 ', 횟수 )**: 뒤에서부터 split하기!
- **: 제곱
- **%**: 나머지 반환
- **//**: 목 반환
- **\n, ＼n**: escape 코드. 줄을 바꿈
- **''' ''', """ """**: 줄을 바궈주는 용도!
- **[ ]**: indexing할 때
- **{0:<10}**: 왼쪽 정렬
  
  **ljust()**: 왼쪽 정렬
- **{0:>10}**: 오른쪽 정렬

  **rjust()**: 오른쪽 정렬
- **.center ( , )**: 앞에 매개 변수는 숫자, 뒤에 매개 변수는 공백을 채울 str을 넣어주면 된다.

  **{0:^10}**: 가운데 정렬
- **{0:=^10}**: 공백 채우기
- **{0:!^10}**: 공백 채우기

<br> 

- **%d**: 문자열 포맷 코드, 정수 삽입
- **%f**: 문자열 포맷 코드, 소수 삽입
- **%s**: 문자열 포맷 코드, 문자열 삽입
- **str.format**: 파이썬3 이후부터 쓰는 새로운 formatting
- **f-string**: 파이쩐 3.6이상 버전에서 지원하는 문법.
- **"%.3f"**: 소수점 3자리까지 표시

In [ ]:
# .count() example
x = "learning python is fun!"
x.count("n")

4

## 🔎 Basic Syntax for List

- '*' : 리스트를 반복하기
- **.len ( )**: list의 길이 반환
- **del ( )**: list 특정 요소 삭제하기    예) del a[1] -> 2번째 요소를 삭제
- **.append()**: list 맨 뒤에 object를 추가한다.
- **.extend()**: list 뒤에 iterable 객체(list, tuple, dict 등)의 elemenet를 추가한다.
- **.insert ( , )**: 원하는 위치에 값을 넣을 수 있음
- **.sort ( )**: list 요소를 순서대로 정렬
- **.reverse ( )**: list를 역순으로 정렬. 현재의 list를 그냥 뒤집음
- **.index ( x )**: x의 위치를 반환.
- **.insert ( a, b )**: a번째 위치에 b를 삽입
- **.remove ( x )** : 첫번째로 나오는 x를 삭제
- **.pop ( )**: list의 맨 마지막 요소를 돌려주고 그 요소는 삭제
- **.pop ( x )**: list의 x번째 요소를 돌려주고 그 요소는 삭제
- **.count ( x )**: list 안에 x가 몇 개 있는지 조사해서 그 개수를 반환

## 🔎 Basic Syntax for Dictionary

- **.keys ( )**: key를 list로 만들기
- **.values ( )**: value를 list로 만들기
- **.items ( )**: key, value 쌍을 반환
- **.clear ( )**: key, value 쌍을 모두 삭제
- **.get ( x , '디폴트')**:  x에 해당하는 key 값이 없을 때 디폴트 값을 가져감
- **in**: 해당 key가 있는지 조사

## 🔎 Basic Syntax for Set

- **a & b**: a와 b의 교집합
- **a | b**: a와 b의 합집합
  
  **a .union ( b )**: a와 b의 합집합
- **a - b**: a와 b의 차집합
  
  **a .difference ( b )**: a와 b의 차집합
- **.add ( )**: 1개의 값을 추가
- **.update ( )**: 여러 개의 값을 추가
- **.remove ( )**: 특정값을 제거

## 🔎 Basic Syntax for If statement

- **pass**: 아무 일도 일어나지 않게 설정
- **elif**: 이전 조건문이 거짓일 때 수행
- **in**, **not in**
- **or**, **&**

## 🔎 Basic Syntax for While Loop

- **break**: while에서 빠져나오게 하기
- **continue**: while 맨 처음으로 돌아가기
- **while(true):**: 특정 조건을 만족할 때까지 반복문을 실행하고 싶을 때 사용

## 🔎 Basic Syntax for Def

- '*'를 붙이면 입력값을 전부 모아서 tuple로 만듦

  '**'를 붙이면 값들이 모두 dict으로 만들어져서 출력
- 함수의 반환은 오로지 **return**에 의해서만 생성


> Function Annotation
- **: expression**: argument의 type을 지정해주거나 직접 int, sting 값을 부여할 수 있다.
- **-> expression**: Return 값의 type을 명시한다.
- 강제성은 없다.

### 📔 Examples

In [1]:
# print in a line
for i in range(5):
    print(i, end="")

01234

In [2]:
# print in a line
for i in range(5):
    print(i, end="/")

0/1/2/3/4/

In [ ]:
# Function Annotation Example
def optimize_floats(df: pd.DataFrame) -> pd.DataFrame:
    floats = df.select_dtypes(include=['float64']).columns.tolist()
    df[floats] = df[floats].apply(pd.to_numeric, downcast='float')
    return df

def func(arg1: str, arg2: 1+2, arg3: 'this is annotation') -> bool:
    print(f'arg1 = {arg1}')
    print(f'arg2 = {arg2}') 
    print(f'arg3 = {arg3}') 
    return True

In [ ]:
# Round dictionary key values
dict_pval = dict() 
for key in model_results.pvalues.to_dict(): 
      
    # rounding to K using round() 
    res[key] = round(model_results.pvalues.to_dict()[key], 6)

In [ ]:
# Dictionary key to list
list(dict_name)     # 이렇게 하면 Key values가 전부 나온다.

In [ ]:
# Dictionary comprehension
item2vector_dict = {arg : model.wv[arg] for arg in vocab}

In [ ]:
# how to play with set add, update
def make_node(data):
    set_nodes = set()
    if len(data.split(', ')) == 1:
        set_nodes.add(data)
    elif len(data.split(', ')) > 1:
        set_nodes.update(set(data.split(', ')))
    return set_nodes

In [ ]:
# class에 있는 함수를 다른 함수에서 쓰려면 앞에 self. 붙여야 됨!
class Form_filter():
    def __init__(self, data):
        self.data = data
        self.df = pd.DataFrame(data).T
        
    def recommend_by_condition(self, disease_input):
        good_items = []
        for item in self.df.index:
            good = False
            for disease in disease_input:
                if disease in self.df.loc[item]['tag_list']:
                    good = True
            if good == True:
                good_items.append(item)
        return good_items
    
    def filter_allergy(self, allergy_input):
        cannot_eat_items = []
        for item in self.df.index:
            possible = True
            for allergy in user_allergy:
                if allergy in self.df.loc[item]['ingredient']:
                    possible = False
            if possible == False:
                cannot_eat_items.append(item)
        return cannot_eat_items
    
    def final_recommend(self, disease_input, allergy_input ):
        good_items = self.recommend_by_condition(disease_input)
        cannot_eat_items = self.filter_allergy(allergy_input)
        final_recommend = {}
        for good in good_items:
            recommend = [item for item in petreat_data[good]['recommend_20'] if item not in cannot_eat_items]
            final_recommend[good] = recommend
        return final_recommend

In [ ]:
  # def 중간에 return에 해당되는 게 걸리면 그냥 거기서 끝남
  def checkGrade(self, mileage_data, sylla_data, course, usr):
      metadata = sylla_data.iloc[0]
      grade_quota = [metadata['grade_1'], metadata['grade_2'], metadata['grade_3'], metadata['grade_4']]

      # 새내기 거르기
      if (usr.grade == '1'): # 사용자가 1학년인 경우 메세지 출력
          message = "새내기시군요! 해당 서비스를 이용할 수 없습니다 ㅠㅠㅜㅠㅠ"
          return message

      # 학년별 정원 있는지 없는지 체크
      if (grade_quota[0] != np.nan): # 학년별 정원 제한이 존재하는 수업인 경우 사용자의 학년을 확인
          if (grade_quota[int(usr.grade) - 1] == 0): # 학년별 정원 제한이 있는데 사용자가 해당 학년이 아닌 경우 : 메세지 출력
              message = "{}학년은 신청할 수 없는 수업입니다.".format(usr.grade)
              return message

          df_filtered = mileage_data[(mileage_data['grade_1']+mileage_data['grade_2']+mileage_data['grade_3']+mileage_data['grade_4'] != 0) & (mileage_data['grade'] == int(usr.grade))]   # 사용자가 학년별 정원을 통과한 경우 : 학년별 정원 제한이 있었던 데이터 중 사용자와 같은 학년의 수강신청 데이터 필터링
      return df_filtered

In [ ]:
# class 내에 있는 함수를 부르기 (재귀함수?)
class Course_Info():
    def __init__(self, u_course_code, u_instructor, u_first_enroll, u_enrolled_courses, u_mileage):
        self.course_code = u_course_code
        self.instructor = u_instructor
        self.first_enroll = u_first_enroll  
        self.enrolled_courses = u_enrolled_courses
        self.mileage = u_mileage
        self.df_mileage_sql = self.loadMileageData(u_course_code, u_instructor)
        self.df_syllabus_sql = self.loadSyllaData(self.df_mileage_sql, u_course_code, u_instructor)

    def loadMileageData(self, course_code, instructor):
        # MySQL에서 데이터 받아오기
        myhost = 'database-1.cnq1vdclxqau.ap-northeast-2.rds.amazonaws.com'
        myport = 3306
        myuser = 'hyunwoo'
        mypasswd = 'hyunwoo'
        mydb = 'sugang_db'

In [ ]:
# class 만들 때 이렇게 pass 입력하면 실행시켜줄 수 있음
class Predict():
  def __init__():
    pass

In [ ]:
# for loop in json file 예시
corpus = []
for item in {**data}.values():
    corpus.append(item['BOW'])

In [ ]:
# oct 예시
oct(34)
oct(12345)

In [ ]:
# filter 예시
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

In [ ]:
# filter 예시
def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

In [ ]:
# 시간 측정
import time
start = time.time()  # 시작 시간 저장
 
 
# 작업 코드
 
 
print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

In [ ]:
# dataframe에서 split 예시
temp['hakno'] = temp['course_code'].str.split('-', 1).str[0]

In [ ]:
# .round() 예시
train["atemp(int)"] = train["atemp"].round()

In [ ]:
# .insert()
vowel = ['a', 'e', 'i', 'u']

# inserting element to list at 4th position
vowel.insert(3, 'o')

print('Updated List: ', vowel)

Updated List:  ['a', 'e', 'i', 'o', 'u']

In [ ]:
# .quantile()
data.loc[data['kills'] > data['kills'].quantile(0.99)] = '8+'

In [ ]:
# sample 뽑기. 샘플 뽑기
sample = train.sample(frac=0.1, random_state=20191005)

In [ ]:
# 소수점 3자리까지 나타내기
print("%.3f" %answer)

In [ ]:
# .format
## 예시2
 print('Epoch {:4d}/{} Cost: {:.6f}'.format(
     epoch, nb_epochs, cost.item())
 )

In [ ]:
# .format
## 예시1
for i in range(1,5):
    plt.figure(figsize=(2*i,i))
    plt.plot(a1,a2)
    plt.savefig("a{}x{}.png".format(2*i,i))
    
# 예시2
print("The average person kills {:.4f} players, 99% of people have {} kills or less, while the most kills ever recorded is {}.".format(train['kills'].mean(),train['kills'].quantile(0.99), train['kills'].max()))

In [ ]:
# .center()
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [ ]:
#  end 예시
a,b = map(int, input().split())
c = list(map(int,input().split()))
result = []
for i in c:
    if i < b:
        print(i, end=' ')

In [ ]:
# randint
random.randint(1,10)

6

In [ ]:
# random.random()
a = random.random()
print(a)

0.6697807572482162

In [ ]:
# calendar
print(calendar.calendar(2019))

In [ ]:
# zip()
a = list(zip([1,2,3],[4,5,6]))
print(a)

[(1, 4), (2, 5), (3, 6)]

In [ ]:
# f-sting
name = 'Bob'
test = f'Hello {name}'
print(test)

Hello Bob

In [ ]:
# str.format
## 예제1
test = 'Hello {}'.format('Bob')
print(test)

Hello Bob

In [ ]:
# enumerate
## 예제1
my_list = ['apple', 'banana', 'grapes', 'pear']
counter_list = list(enumerate(my_list, 1))
print(counter_list)

## 예제2
names = ['철수', '영희', '영수']
for i, name in enumerate(names):
  print('{}번: {}'.format(i + 1, name))

[(1, 'apple'), (2, 'banana'), (3, 'grapes'), (4, 'pear')]
1번: 철수
2번: 영희
3번: 영수

In [ ]:
# divmod
divmod(29, 6)

(4, 5)

In [ ]:
# any
any([1,2,3,0])

In [ ]:
# all
all([1,2,3,])

In [ ]:
# .map 
A, B = map(int, input().split())

In [ ]:
# end 예시
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9): ")
dan = int(user_input)
for i in range(1,10):
    print(i*dan, end= ' ')

구구단을 출력할 숫자를 입력하세요(2~9): 3
3 6 9 12 15 18 21 24 27

In [ ]:
# def * 예시
def add_many(*nums):
	result = 0
	for i in nums:
		result = result + i
	return result 

## ** 예시
def print_kwargs(**kwargs):
	print(kwargs)
print_kwargs(a=1)

{'a': 1}

In [ ]:
# .remove()
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [ ]:
# .get 예제1
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    counts[name] = counts.get(name, 0) + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [ ]:
# .split()
example = 'python,jquery,javascript'

a,b,c = example.split(",")
a, b, c

('python', 'jquery', 'javascript')

In [ ]:
# .replace()
text = '123,456,789,999'
replaceAll= text.replace(",","")
replace_t1 = text.replace(",", "",1)
replace_t2 = text.replace(",", "",2)
replace_t3 = text.replace(",", "",3)
print("결과 :")
print(replaceAll)
print(replace_t1)
print(replace_t2)
print(replace_t3)

결과 :
123456789999
123456,789,999
123456789,999
123456789999

In [ ]:
# .join()
",".join('abcd')

'a,b,c,d'

In [ ]:
# .rjust()
name = '사람'
print (name.rjust(10))

        사람

In [ ]:
# fommating
## 예제1 %d
a = int(input())
for i in range(1, 10):
    print("%d * %d = %d" %(a, i, a*i))
    
## 예제2 %d
"I eat %d apples." % 3

## 예제3 %s
"I eat %s apples." % "five"

# %를 사용하고 싶면 %d%% 이렇게 %를 2개 넣어주어야 한다. 		
## 예시) %d%%

## 예제4 %d, %s
flavor_list = ['vanulla', 'chocolate' ,'pecan', 'strawberry']
for i, flavor in enumerate(flavor_list, 10):
  print('%d: %s' %(i+i, flavor))

13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
나의 이름은 {d["name]}입니다. 나이는 {d["age"]}입니다.

In [ ]:
# .append(), .extned()
## .append 예제
x = [1, 2, 3]
x.append([4, 5])
print (x)

## .extend 예제
x = [1, 2, 3]
x.extend([4, 5])
print (x)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [ ]:
# .stratswith
if line.startswith('집'):
	print(line)

In [ ]:
# 소괄호를 사용하지 않아도 컴마(,)로 값을 나열하면 파이썬은 튜플로 인식
x, y = 1, 10
print(x, y)

x, y = y, x
print(x, y)

1 10
10 1

In [ ]:
# len()
x = (10, 5, 7, 2, 1)
len(x)

5

In [ ]:
# in
x = (10, 5, 7, 2, 1)
1 in x, 9 in x

(True, False)

In [ ]:
# +로 연결, *로 반복
x = (10, 5, 1)
x + x, x*3

((10, 5, 1, 10, 5, 1), (10, 5, 1, 10, 5, 1, 10, 5, 1))

In [ ]:
# .count()
x = (10, 5, 1, 7, 2, ㅡ1)
x.count(1)

2

In [ ]:
# .index()
x = (10, 5, 1, 7, 2, "ㅡ1")
x.index(1)

2

In [ ]:
# .items(), sorted()
d = {'b':1, 'a':10, 'c':22}
d.items()
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

In [ ]:
# 키(Key)를 기준으로 정렬한 뒤, 한 줄씩 출력하기
d = {'b':1, 'a':10, 'c':22}
for k, v in sorted(d.items()):
  print(k,v)

a 10
b 1
c 22

**값(Value)을 기준**으로 정렬하기
1. 딕셔너리에서 items 메소드를 실행한다.
2. 튜플을 활용해 키와 값을 분리한다.
3. 키와 값의 위치를 바꾼 리스트를 생성한다.
4. 생선된 리스트를 정렬한다.

In [ ]:
c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items() :
    tmp.append( (v, k) )    # 여기서 k, v의 순서를 바꿔주는 게 Point!!!

print(tmp)
print(sorted(tmp))

[(10, 'a'), (1, 'b'), (22, 'c')]
[(1, 'b'), (10, 'a'), (22, 'c')]

In [ ]:
# .items()
d = {'b':1, 'a':10, 'c':22}
d.items()

dict_items([('b', 1), ('a', 10), ('c', 22)])

List comprehension 예시들

In [ ]:
## 예시1
c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items() :
    tmp.append( (v, k) )
tmp = sorted(tmp)
print(tmp)      # 이랬던 코드가

c = {'a':10, 'b':1, 'c':22}
sorted([ (v,k) for k, v in c.items()])    # 이렇게 간단해진다!ㅡ

[(1, 'b'), (10, 'a'), (22, 'c')]

[(1, 'b'), (10, 'a'), (22, 'c')]

In [ ]:
## 예시2: One-dimension list 만들기
# 1 ~ 10 정수에서 짝수만 뽑아내기
result = [i for i in range(1, 10) if i % 2 == 0]
result

[2, 4, 6, 8]

In [ ]:
## 예시3: Two-dimension list 만들기
words = 'The quick brown fox jumps over the lazy dog'.split()
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [ ]:
## 예시4 (나도 못 풀었음)
orig = 'The quick brown fox jumps over the lazy dog'
kewen = orig.lower().split()
counts = {}
for line in kewen:
  words = line.split()
  for word in words:
    counts[word] = counts.get(word, 0) + 1

lst = []
for k, v in counts.items():
  vk = (v, k)
  lst.append(vk)
  
sorted(lst)    # 이랬던 코드가